body {
    background-color: RGB(173 , 125, 198);
    margin: 0;
    position:relative;
    height: 100vh;
    padding-bottom: 2.5rem;
}

h1 {
    background-color: RGB(237, 208, 230);
    color: RGB(85, 6, 85);
}

h2 {
    background-color: RGB(237, 208, 230);
    color: RGB(85, 6, 85);
}

h3 {
    background-color: RGB(237, 208, 230);
    color: RGB(85, 6, 85)
}

h4 {
    background-color: RGB(237, 208, 230);
    color: RGB(85, 6, 85)
}


p {
    background-color: RGB(237, 208, 230);
    color: RGB(85, 6, 85);
    padding: 0 5px;
}
/* changes text color and highlighted text color for headers and paragraphs */

.title_bar {
    background-color: RGB(237, 208, 230);
    margin: auto;
    padding: 20px 0;
    text-align: center;
}
/* div for title bar */

.nav_bar {
    background-color: RGB(247, 218, 240);
    display: block;
    overflow: hidden;
    box-shadow: 0 0 12px 0 rgba(0, 0, 0, .4);
}
/* div for navagation bar */

.nav_links {
    width: 100%;
    overflow: hidden;
}
/* div for navagation bar, links other webpages onto the nav bar */

.nav_bar a{
    display: block;
    padding: 10px 14px;
    text-align: center;
    text-decoration: none;
    color: RGB(85, 6, 85);
    float: left;
}
/* inputs text onto the nav bar */

.nav_links a:hover {
    background-color: RGB(250, 230, 245);
    color: RGB(90, 10, 90);
    transition: 0.35s;
}
/* highlights the link on nav bar the cursor is currently on */

.active{
    background-color: RGB(250, 230, 245);
    color: RGB(90, 10, 90);
}
/* highlights the active webpage you're currently viewing */

img {
    display: block;
    width: 50%;
    min-width: 200px;
    margin: 16px auto;
    box-shadow: 0 0 12px 0 rgba(0, 0, 0, .4)
}
/* changes the sizing of images, box-shadow applies a shadow to give a layered effect */

.footer {
    display: block;
    background-color: RGB(247, 218, 240);
    text-align: center;
    padding: 10px 0;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
}
/* div for creating a footer at the bottom of the page for any extra information */
