body {
    background-color: RGB(173 , 125, 198);
    margin: 0;
    position:relative;
    height: 100vh;
    padding-bottom: 2.5rem;
}

h1 {
    background-color: RGB(237, 208, 230);
    color: RGB(85, 6, 85);
}

h2 {
    background-color: RGB(237, 208, 230);
    color: RGB(85, 6, 85);
}

h3 {
    background-color: RGB(237, 208, 230);
    color: RGB(85, 6, 85)
}

h4 {
    background-color: RGB(237, 208, 230);
    color: RGB(85, 6, 85)
}


p {
    background-color: RGB(237, 208, 230);
    color: RGB(85, 6, 85);
    padding: 0 5px;
}

.title_bar {
    background-color: RGB(237, 208, 230);
    margin: auto;
    padding: 20px 0;
    text-align: center;
}

.nav_bar {
    background-color: RGB(247, 218, 240);
    display: block;
    overflow: hidden;
    box-shadow: 0 0 12px 0 rgba(0, 0, 0, .4);
}

.nav_links {
    width: 100%;
    overflow: hidden;
}

.nav_bar a{
    display: block;
    padding: 10px 14px;
    text-align: center;
    text-decoration: none;
    color: RGB(85, 6, 85);
    float: left;
}

.nav_links a:hover {
    background-color: RGB(250, 230, 245);
    color: RGB(90, 10, 90);
    transition: 0.35s;
}

.active{
    background-color: RGB(250, 230, 245);
    color: RGB(90, 10, 90);
}

img {
    display: block;
    width: 50%;
    min-width: 200px;
    margin: 16px auto;
    box-shadow: 0 0 12px 0 rgba(0, 0, 0, .4)
}

.footer {
    display: block;
    background-color: RGB(247, 218, 240);
    text-align: center;
    padding: 10px 0;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
}

